<h1 ><%= @dayweek.brief %></h1>
<% @dayweek.shedulers.each do |sheduler| %>
    <div class = 'alert alert-info'>
    <div class="container">
      <div class="row">
            <div class="col-xs">
              <h2><%= sheduler.numlesson.brief %></h2>
            </div>
            <div class="col-sm">
                  <%= sheduler.lesson.brief %><br>
                  <%= sheduler.startlesson %><br>
                  <%= sheduler.endlesson %>
            </div>
            <div class="col-xs">
            <% if user_signed_in? %>                  
            <%= link_to 'Редактировать...', edit_sheduler_path(sheduler), {class: 'btn btn-sm btn-outline-info'}  %>
            <% end %>
            </div>
          </div>
        </div>        
    </div>
<% end %>
