<h1 class= 'display-4'><%= @dayweek.brief %></h1>
<% @dayweek.shedulers.each do |sheduler| %>
    <div class = 'alert alert-info'>
    <div class="container">
      <div class="row">
            <div class="col-xs">
              <h2 class = 'display-4'><%= sheduler.numlesson.brief %></h2>
            </div>
            <div class="col-lg">
                  <h2 class = 'display-4'><%= sheduler.lesson.brief %></h2>
            </div>
            <div class="col-xs">
                  <h2 class = 'display-4'><%= sheduler.startlesson %></h2>
            </div>
            <div class="col-sm">
                  <h2 class = 'display-4'><%= sheduler.endlesson %></h2>
            </div>
            <div class="col-xs">
            <% if user_signed_in? %><br>                 
            <%= link_to 'Редактировать...', edit_sheduler_path(sheduler), {class: 'btn btn-sm btn-outline-info'}  %>
            <% end %>
            </div>
          </div>
        </div>        
    </div>
<% end %>
