<%= render 'layouts/body' %>
<div class='all-posts'>
  <% @sheduler.each do |sheduler| %>
      <div class = 'alert alert-info'>
          <h5><%= sheduler.dayweek.brief %></h5>
          <h5><%= sheduler.numlesson.brief %></h5>
          <h5><%= sheduler.lesson.brief %></h5>
          <h5><%= sheduler.startlesson %></h5>
          <h5><%= sheduler.endlesson %></h5>
          <%= link_to 'Редактировать...', edit_sheduler_path(sheduler), {class: 'btn btn-outline-info'}  %>
      </div>
  <% end %>
</div>